Source: fastqt
Maintainer: Sacha Schutz <sacha@labsquare.org>
Build-Depends: debhelper (>= 9.0.0), libkf5archive-dev(>= 5.31.0), qt5-default(>= 5.7.0), libqt5charts5-dev(>=5.7.0), libqt5svg5-dev(>= 5.7.0)
Standards-Version: 3.9.8
Section: utils

Package: fastqt
Priority: extra
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libkf5archive5(>= 5.31.0), libqt5charts5(>= 5.7.0), libqt5svg5(>= 5.7.0), libqt5widgets5(>= 5.7.0), libqt5gui5(>= 5.7.0), libqt5core5a(>= 5.7.0)
Description: FastQt package
 FastQt is the clone of FastQC application ported from Java to C++/Qt5
